.about {
  background-color: #fff;
  z-index: 3;

  .content {
    padding: 0 30px;
    height: 100%;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  a {
    color: #7aa4e3;
    text-decoration: none;
    cursor: pointer;
  }
}
