@import '../../app/styles/color';

.album-cover {
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  width: 300px;
  position: relative;
  transition: box-shadow .2s ease-out;
  box-shadow: rgba(107, 179, 237, .5) 0px 24px 35px -16px;

  &__loader {
    height: 300px;
    width: 300px;
    display: block;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    transform: scale(1,0);
    transform-origin: top;
    transition: transform .2s ease-out;
    position: absolute;
    z-index: 1;
  }

  &__icon {
    fill: $base-color;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: .01;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease-in;

    &--active {
      opacity: .99;
    }
  }

  .show {
    transform: scale(1,1);
  }

  .hide {
    transform-origin: bottom;
    transform: scale(1,0);
  }

  &__image {
    opacity: .01;
    transition: opacity .1s;

    &--loaded {
      opacity:.999;
    }
  }
}
