.menu {
  background-color: #fff;
  color: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
  z-index: 2;
}
