.media-button {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  box-shadow: -1px 17px 24px -6px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  transform: translateX(-50%);
    left: 50%;

  &--active {
    visibility: visible;
    pointer-events: visible;
  }

  svg {
    fill: #fff;
  }
}
