body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b9b9b9;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: calc(100% - 80px);
  overflow: hidden;
  position: relative;

  > div {
    height: 100%;
    width: 100%;
  }
}
