@import '../../app/styles/color';

.list {
  overflow-y: auto;
  background: $base-color;
  z-index: 1;

  .track-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .row {
    display: flex;
    position: relative;
    min-height: 80px;
    transition: box-shadow .2s, background-color .3s;

    button {
      padding: 10px;
      width: 100%;
      border: 0;
      background: 0;
      display: flex;
      justify-content: flex-start;
      font-family: inherit;
      align-items: initial;
      font-size: inherit;

      &:hover:not(.playing) {
        background-color: $list-press;
        will-change: background-color;
      }

      &:active:not(.playing) {
        background-color: $list-press;
        box-shadow: inset 0 12px 10px -10px rgba(0, 0, 0, 0.11), inset 0px -12px 10px -10px rgba(0, 0, 0, 0.11);
        padding-top: 14px;
        padding-left: 14px;
      }
    }
  }

  .progress-bar {
    visibility: hidden;

    &__bg {
      opacity: 1;
    }
  }

  button.playing {
    height: auto;
    padding: 15px 15px;
    background-color: $list-press;

    .album__cover {
      width: 67px;
      height: 67px;
      box-shadow: rgba(2, 2, 2, 0.4) 0px 16px 30px -9px;
    }

    .progress-bar {
      visibility: visible;

      &__bg {
        background-color: $base-color;
      }
    }

    .info {
      margin: 0 15px;
    }
  }

  .album {
    &__cover {
      border-radius: 4px;
      display: block;
      width: 50px;
      height: 50px;
      background-color: $secondary-font-color;
    }
  }

  .info {
    margin: 0 10px;
    width: 100%;
    position: relative;
    text-align: left;

    &__track {
      margin: 0;
      font-size: inherit;
      text-transform: capitalize;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      color: $primary-font-color;
      text-overflow: ellipsis;
    }

    &__artist {
      color: $secondary-font-color;
    }
  }
}
