.list {
  overflow-y: auto;
  background: #fff;
  z-index: 1;

  .track-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .row {
    display: flex;
    padding: 10px;
    position: relative;
    text-decoration: none;
    color: inherit;
    min-height: 80px;

    &:hover:not(.playing) {
      background-color: #ececec45;
    }
  }

  .progress-bar {
    visibility: hidden;
  }

  .playing {
    height: auto;
    padding: 15px 15px;
    background-color: #ececec;

    .album__cover {
      height: 67px;
      box-shadow: rgba(2, 2, 2, 0.4) 0px 16px 30px -9px;
    }

    .progress-bar {
      visibility: visible;

      &__bg {
        background-color: #fff;
      }
    }

    .info {
      margin: 0 15px;
    }
  }

  .album {
    &__cover {
      border-radius: 4px;
      display: block;
    }
  }

  .info {
    margin: 0 10px;
    width: 100%;
    position: relative;

    &__track {
      margin: 0;
      font-size: inherit;
      text-transform: capitalize;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      color: #444;
      text-overflow: ellipsis;
    }

    &__artist {
      color: #969696;
    }
  }

}
