.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }

  .media-button {
    margin-top: 90px;
  }
}
