.app {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  display: flex;
  justify-content: center;
}

.shell {
  background-color: #fff;
  display: flex;
  align-self: center;
  border-radius: 10px;
  box-shadow: 1px 3px 20px 8px rgba(0, 0, 0, 0.09);
  height: inherit;
  max-height: 667px;
  overflow: hidden;
  width: 375px;
  flex-direction: column;
  position: relative;
}
