.app {
  height: 100vh;
  width: 100vw;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
}

.shell {
  background-color: #fff;
  display: flex;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.06);
  height: inherit;
  max-height: 667px;
  overflow: hidden;
  width: 375px;
  flex-direction: column;
}
