@import '../../app/styles/color';

.detail {
  background-color: $base-color;
  display: flex;
  justify-content: center;
  z-index: 2;

  &__track {
    margin-top: 0;
  }

  &__controls {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__info {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 300px;
  }

  &__buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    @media screen and (min-width: 375px) {
      margin-top: 25px;
    }
  }

  &__timing {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .title, .artist {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }

  .title {
    margin-bottom: 5px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prev-button, .next-button {
    align-items: center;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .09);
    transition: background-color .2s;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }

    &:active {
      background-color: rgba(0, 0, 0, .09);
    }

    svg {
      align-items: center;
      fill: $base-color;
      height: 16px;
      width: 16px;
    }

    &:before {
      border-radius: 50px;
      border: solid 2px $border-color;
      box-shadow: 0px 0px 0px 4px rgba(123, 177, 243, 0.43);
      content: '';
      display: block;
      height: 100%;
      opacity: .01;
      position: absolute;
      top: -2px;
      transition: opacity .3s;
      width: 100%;
    }
  }

  .prev-button:focus, .next-button:focus {
    outline: 0;
  }

  .prev-button:focus::before, .next-button:focus::before {
    opacity: .57;
  }

  .next-button, .prev-button {
    .divider {
      display: block;
      height: 16px;
      width: 3px;
      border-radius: 6px;
      background: $base-color;
    }
  }

  .prev-button {
    svg {
      transform: scale(-1);
    }
  }

  .time {
    color: $primary-font-color;
  }

  .play, .pause {
    height: 70px;
    width: 70px;
  }

  .play {
    svg {
      margin-left: 5px;
    }
  }

  .pause {
    svg {
      stroke-width: 2px;
      stroke: #fff;
    }
  }
}
