.detail {
  position: absolute;
  top: 0;
  background-color: #fff;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
  overflow: auto;

  &.active {
    z-index: 2;
  }

  &__track {
    margin-top: 40px;
  }

  &__controls {
    position: relative;
    margin-top: 70px;
  }

  &__buttons {
    margin-top: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__timing {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__cover {
    border-radius: 6px;
    display: block;
  }

  .time {
    color: #b9b9b9;
  }
}
