.detail {
  background-color: #fff;
  display: flex;
  justify-content: center;
  z-index: 2;

  .title {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title, .artist {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }


  &__track {
    margin-top: 0;
  }

  .prev-button, .next-button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .09);
    transition: background-color .2s;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }

    &:active {
      background-color: rgba(0, 0, 0, .09);
    }

    svg {
      fill: #fff;
    }
  }

  .next-button {
    &::after {
      content: '';
      display: block;
      height: 16px;
      width: 3px;
      position: absolute;
      margin-left: 10px;
      border-radius: 6px;
      background: #fff;
    }
  }

  .prev-button {
    &::before {
      content: '';
      display: block;
      height: 16px;
      width: 3px;
      position: absolute;
      margin-left: -10px;
      border-radius: 6px;
      background: #fff;
    }

    svg {
      transform: scale(-1);
    }
  }

  &__controls {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__info {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 300px;
  }

  &__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }

  &__timing {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .time {
    color: #b9b9b9;
  }
}
